{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
        <link rel="stylesheet" type ="text/css" href="{% static 'blog/css/portifolio.css' %}" />
        <title>Douglas dos Santos Pereira</title>
	<title></title>
	</head>
	
	<nav class="menu">
		<ul>
			<li><a HREF="#sobremim">Sobre mim</a></li>
			<li><a HREF="#projetos">Projetos</a></li>
			<li><a HREF="#contato">Contato</a></li>
		</ul>
	</nav>

	<body>
		<header>
			<a><img class="logo" src="{% static 'blog/img/logo.png' %}" alt="Logo - Douglas"></a><br>
		</header>
		<section>
			<fieldset class="corpo">
				<fieldset class="conteudo">
					<legend><a name="sobremim"><h2>Sobre mim</h2></a></legend>
					<p><img src="{% static 'blog/img/douglas.jpg' %}" alt="douglas">Mineiro, nascido em Itajubá - MG, entusiasta de computação e 
						tecnologias.<br><br>Graduado em Engenharia de produção pelo Centro Universitário de Itajubá - FEPI no ano de 2015, 
						atuei estagiando no ramo de produção de transformadores de baixa e média tensão e auto-trafos, mais especificamente 
						no planejamento e controle da produção e implementação de sistema de gerenciamento produtivo (CIAF)<br><br>
						Iniciei no segundo semestre de 2016 o curso de Análise e Desenvolvimento de Sistemas pelo Instituto Federal 
						de São Paulo - Campus Campos do Jordão, onde no presente momento tenho adquirido conhecimentos e experiências 
						acerca de Tecnologia da informação</p><br>
				</fieldset>
				<fieldset class="conteudo">
					<legend><a name="projetos"><h2>Projetos</h2></a></legend>
					{% for project in projects %}
					
					<br><h3>{{ project.title}}</h3>
                	<p><label class="descricao">Descrição:</label> {{ project.description}}</p>
					<p><label class="inicio">Data de ínicio:</label> {{ project.initdate }}</p>
					<p><label class="termino">Data de término:</label> {{ project.finaldate }}</p>
					<br>
        
        		    {% endfor %}
				</fieldset>
				<fieldset class="conteudo">
					<legend><a name="contato"><h2>Contato</h2></a></legend>
						<p class="contato"><a HREF="mailto:douglasdsantosp@gmail.com"><img src="{% static 'blog/img/gmail.png' %}" alt="Logo - Gmail"></a></p>
						<p>douglasdsantosp@gmail.com</p>
						<p class="contato"><img src="{% static 'blog/img/whatsapp.png' %}" alt="Logo - Whatsapp"></p>
						<p>(35)99982-4777</p>
						<p class="contato"><a HREF="https://github.com/douglasdsantosp"><img src="{% static 'blog/img/github.png' %}" alt="Logo - Github"></a></p>
						<p>github.com/douglasdsantosp</p>
				</fieldset>
			</fieldset>
		</section>

		<footer>
			<p class="desenvolvimento"> Desenvolvido por Douglas dos Santos Pereira©, 2019</p>
		</footer>
	</body>
</html>