/* Zerar as margens iniciais */
*{
    padding: 0;
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    /* background-image:url(../img/background.png); */
    font-family:Arial, Verdana;
	font-size:16px;
}

.logo{
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.menu{;
	height: 100%;
	width:150px;
	position: fixed;
	background-color: black;
	text-decoration: none;
	padding: 20px;
}

ul {
	margin-top: 30px;
	list-style-type:none
}

li{
	margin-bottom:30px;
}

.menu a{
    text-decoration:none;
	font-size:30px;
}

.menu a:link{
	/*color:#DAA520;*/
	color: white;
}

.menu a:visited{
	/*color:#DAA520;*/
	color: white;
}

.conteudo{
	margin-bottom: 15px;
	/* background-color: black;*/
}

h2, h3 {
	font-size: 30px;
	color:#DAA520;
}

.corpo{
	padding: 20px;
	width: 900px;
	height: auto;
	margin: 0 auto;
	z-index: 0;
	text-align: justify;
}

.desenvolvimento {
	font-size:16px;
	text-align:center;
}

.corpo img{
	float: left;
	max-width:400px;
	max-height:400px;
}

.contato{
	width: 100%;
	display: inline-block;
}

.contato img {
	max-width:100px;
	max-height:100px;
}

h3{
	color: darkslategray;
}
.descricao{
	color:lightseagreen;
	font-size: 18px;
}

.inicio{
	color:lightgreen;
	font-size: 18px;
}

.conteudo2{
	text-align: center;
}

.termino{
	color:lightcoral;
	font-size: 18px;
}